---
import type { Page } from 'astro';

import type { Post } from '~/types';
import { formatDate } from '~/helpers/utils';
import Tag from '~/components/tag/Tag.astro';

type Props = {
  page: Page<Post>;
};

const { page } = Astro.props;
---

<!-- 글목록 -->
<div class="flex flex-col space-y-12">
  {
    page.data.map((post) => (
      <div>
        <a href={`/post/${post.slug}`} class="hover:text-violet-500">
          <h2 class="text-xl font-medium">{post.data.title}</h2>
        </a>
        <div class="text-slate-500 mt-2">{formatDate(post.data.date)}</div>
        <div class="mt-2 excerpt-markdown">{post.data.excerpt}</div>
        <div class="flex flex-row flex-wrap space-x-3 mt-3">
          {post.data.tags.map((tag) => (
            <Tag value={tag} />
          ))}
        </div>
      </div>
    ))
  }
</div>
